[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
anyhow = "1.0.100"
derive_more = { version = "2.1.1", features = ["full"] }
hex = "0.4.3"
pretty-hex = "0.4.1"
